version: '3'

services:
  frontend:
    build: ./pb_frontend
    command: npm run serve
    restart: unless-stopped
    stdin_open: true
    tty: true
    volumes:
      - ./pb_frontend/src:/usr/src/app/src

  backend:
    build: ./pb_backend
    restart: unless-stopped
    depends_on:
      - frontend

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend

  redis:
    image: redis:latest
    restart: unless-stopped
    # volumes:
      # - /path/to/local/d–∞ta:/root/redis
      # - ./redis/redis.conf:/etc/redis/redis.conf
    environment:
      - REDIS_PASSWORD=redis
      - REDIS_PORT=6379
      - REDIS_DATABASES=16
